.App {
  text-align: left;
  border: 20px;
  background-color: honeydew;
  border: 2px darkblue dashed;
  margin: 5px;
  display: flex;
  flex-direction: row;
}

img{
  position: absolute; 
  width: 30%; 
  height: 30%;
  opacity: 0.25;
}

.header{
  text-align: center;
  text-shadow: 20%;
  display: flex;
  width: 50%;
  padding:10px;
}

li { 
  display:flex;
  list-style: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 20px;
}

.class-detail{
  margin:20px;
}